.Share {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;

	.share-backgrouund {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;
	}

	.content {
		position: absolute;
		bottom: -1030px;
		width: 100%;
		height: 1000px;
		border-top-left-radius: 80px;
		border-top-right-radius: 80px;
		background-color: #fff;

		.handle {
			position: absolute;
			top: -27px;
			left: 50%;
			margin-left: -116px * 0.5;
			width: 116px;
			height: 12px;
			border-radius: 6px;
			background-color: #fff;
			pointer-events: none;
		}

		.title {
			margin: 80px 0 50px;
			width: 100%;
			text-align: center;
			font-size: 26px;
			transform: scale(1, 1.1);
		}

		.slide-container {
			position: relative;
			width: 100%;
			height: 700px;

			.slider {
				margin-left: 25px;
				width: 400px;
				height: 600px;

				.cover {
					position: relative;
					overflow: hidden;
					width: 100%;
					height: 523px;
					border-radius: 40px;
					background-color: #dadada;
					background-repeat: no-repeat;

					.title {
						position: absolute;
						bottom: 0px;
						margin-left: 1px;
						width: 100%;
						text-align: center;
						letter-spacing: 2px;
						font-size: 18px;
						transform: scale(1, 1.1);
						pointer-events: none;

						span {
							padding-left: 5px;
							letter-spacing: 0;
						}
					}

					.on {
						opacity: 1 !important;
					}

					.dark {
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
						opacity: 0;
						transition: 0.5s;
						pointer-events: none;
					}

					.headline {
						position: absolute;
						margin: 15px 0;
						width: 100%;
						color: #000;
						text-align: center;
						font-size: 30px;
						transform: scale(1, 1.1);
						bottom: 72px;
						letter-spacing: 2px;
						text-indent: -1px;
					}
				}

				#share0 {
					background-image: url('../Select/img/story-image-0.png');
					background-position: center 74px;
					background-size: 74%;
				}

				#share1 {
					background-image: url('../Select/img/story-image-1.png');
					background-position: center 104px;
					background-size: 59%;
				}

				#share2 {
					background-image: url('../Select/img/story-image-2.png');
					background-position: center 126px;
					background-size: 72%;
				}

				#share3 {
					background-image: url('../Select/img/story-image-3.png');
					background-position: center 122px;
					background-size: 60%;
				}

				#share4 {
					background-image: url('../Select/img/story-image-4.png');
					background-position: center 85px;
					background-size: 35%;
				}

				#share5 {
					background-image: url('../Select/img/story-image-5.png');
					background-position: center 69px;
					background-size: 77%;
				}

				#share6 {
					background-image: url('../Select/img/story-image-6.png');
					background-position: center 19px;
					background-size: 42%;
				}
			}
		}
	}

	.slick-dots {
		.slick-active {
			button {
				&::before {
					opacity: 1 !important;
				}
			}
		}

		& > li {
			margin: 0 20px !important;
		}

		li > button {
			&::before {
				color: #ccc !important;
				font-size: 18px !important;
				opacity: 0.25 !important;
			}
		}
	}
}
