.Result {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #ccc;
	}

	.logo {
		position: absolute;
		top: 80px - 40px;
		left: 50%;
		margin-left: 0 - image-width(@img) * 0.5 * @scale;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@img: './../Logo/img/logo.svg';
		@scale: 0.7;
	}

	.logo-label {
		position: absolute;
		top: 180px - 40px;
		left: 50%;
		margin-left: 0 - image-width(@img) * 0.5 * @scale;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@img: './../Logo/img/logo-label.svg';
		@scale: 0.7;
	}

	.headline-container {
		position: absolute;
		top: 50%;
		margin-top: calc(~'-300px - 10vh');
		width: 100%;
		height: 520px;

		& > div {
			position: absolute;
			left: 50%;
		}

		@keyframes breathe {
			0% {
				opacity: 0.6;
				transform: scale(0.95);
			}
			50% {
				opacity: 1;
				transform: scale(0.9);
			}
			100% {
				opacity: 0.6;
				transform: scale(0.95);
			}
		}

		.gradient {
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			border: solid 1px #fff;
			border-radius: 50%;
			background-image: url(@img);
			animation: breathe 2s ease-in-out infinite;

			@img: './img/gradient.png';
		}

		.text {
			top: 50%;
			margin-top: -45px;
			margin-left: calc(~'-50% + 1px');
			width: 100%;
			height: 90px;
			color: #000;
			text-align: center;
			letter-spacing: 2px;
			font-size: 24px;
			line-height: 45px;
			transform: scale(1, 1.1);
		}
	}

	.buttons {
		position: absolute;
		bottom: 80px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: auto;

		button {
			margin: 10px 0;
			height: 70px;
			background-color: rgba(153, 153, 153, 0.2);
			font-size: 30px;
			line-height: 70px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.Result {
		.logo {
			top: 80px - 50px;
		}

		.logo-label {
			top: 180px - 50px;
		}
		.headline-container {
			margin-top: calc(~'-260px - 10vh');
		}
		.buttons {
			bottom: 20px;
			button {
				width: 332px;
				height: @height;
				border-radius: @height * 0.5;
				font-size: 20px;
				line-height: @height;

				@height: 54px;
			}
		}
	}
}
