.Cable {
	position: absolute;
	width: 100%;
	height: 100%;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.color-background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		opacity: 1;
	}

	.fadein {
		animation: fadeIn 0.2s ease-out forwards;
	}

	.page {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
	}

	.page3 {
		.align {
			position: absolute;
			top: 50%;
			left: 50%;

			.product {
				position: absolute;
				top: 80px;
				margin-top: 0 - image-height(@img) * 0.5 + 30px;
				margin-left: 0 - image-width(@img) * 0.5 - 10px;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/cable/product.png';
			}

			.footer {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: center;
				margin-top: 430px;
				margin-left: -280px;
				width: 560px;
				height: 60px;

				& > div {
					box-sizing: border-box;
					width: 50%;
					height: 100%;
				}

				.headline {
					border-right: solid 1px #000;
					text-align: center;
					letter-spacing: 5px;
					font-size: 36px;
					line-height: 60px;
					transform: scale(1, 1.1);
				}

				.logo {
					position: relative;
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: 0 - image-height(@img) * @scale * 0.5 + 5px;
						margin-left: 0 - image-width(@img) * @scale * 0.5;
						width: image-width(@img) * @scale;
						height: image-height(@img) * @scale;
						background-image: url(@img);
						background-size: 100%;
						content: '';

						@scale: 2.5;
						@img: './img/logo.svg';
					}
				}
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	.page2 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				left: -250px;
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/cable/bg2.jpg';

				@keyframes eyes {
					0% {
						opacity: 0;
					}
					40% {
						opacity: 0;
					}
					41% {
						opacity: 1;
					}
					50% {
						opacity: 1;
					}
					51% {
						opacity: 0;
					}
					100% {
						opacity: 0;
					}
				}

				.eyes {
					position: absolute;
					@img: './img/cable/eyes.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					top: 42%;
					left: 46.5%;

					animation: eye 5s linear infinite;
				}
			}
		}
	}

	.page1 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				left: 70px;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/cable/bg1.jpg';

				@keyframes eye {
					0% {
						opacity: 0;
					}
					40% {
						opacity: 0;
					}
					41% {
						opacity: 1;
					}
					50% {
						opacity: 1;
					}
					51% {
						opacity: 0;
					}
					100% {
						opacity: 0;
					}
				}

				.eye {
					position: absolute;
					@img: './img/cable/eye.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					top: 76.6%;
					left: 64%;

					animation: eye 5s linear infinite;
				}
			}
		}
	}

	.page0 {
		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -320px;
			color: #333;
			white-space: nowrap;
			font-size: 62px;
			transform: scale(1, 1.1);
			text-shadow: 0 0 30px rgba(255, 255, 255, 1);
			margin-top: -600px;

			sub {
				margin: 0 -10px;
				font-size: normal !important;
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				left: 30px;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/cable/bg0.jpg';

				.light {
					position: absolute;
					@img: './img/cable/light0.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					top: 0%;
					left: 14%;
				}
			}
		}
	}
}
