.Cable {
	.page3 {
		.product {
			position: absolute;
			top: 80px;
			margin-top: 0 - image-height(@img) * 0.5 + 30px;
			margin-left: 0 - image-width(@img) * 0.5 - 10px;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);
			transform: scale(0.8);

			@img: './img/cable/product.png';
		}
	}

	.page2 {
		.img {
			position: absolute;
			left: 0px;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/cable/bg2.jpg';

			@keyframes eyes {
				0% {
					opacity: 0;
				}
				40% {
					opacity: 0;
				}
				41% {
					opacity: 1;
				}
				50% {
					opacity: 1;
				}
				51% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}

			.eyes {
				position: absolute;
				top: 42%;
				left: 46.5%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				animation: eye 5s linear infinite;

				@img: './img/cable/eyes.png';
			}
		}
	}

	.page1 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/cable/bg1.jpg';

			@keyframes eye {
				0% {
					opacity: 0;
				}
				40% {
					opacity: 0;
				}
				41% {
					opacity: 1;
				}
				50% {
					opacity: 1;
				}
				51% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}

			.eye {
				position: absolute;
				top: 76.6%;
				left: 64%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				animation: eye 5s linear infinite;

				@img: './img/cable/eye.png';
			}
		}
	}

	.page0 {
		.title {
			margin-top: -450px;
			margin-left: -290px;
		}

		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/cable/bg0.jpg';

			.light {
				position: absolute;
				top: 0%;
				left: 14%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/cable/light0.png';
			}
		}
	}
}

@media only screen and (min-width: 751px) {
	.Cable {
		.page0 {
			.title {
				margin-top: -250px;
				margin-left: -480px;
			}
		}

		.page3 {
			.align {
				.product {
					top: 20px;
					left: 300px;
					background-image: url(@img);
					background-size: 100%;
					transform: scale(0.8);

					@img: './img/cable/product@2x.png';
				}
			}
		}
	}
}

@media only screen and (max-width: 750px) and (max-height: 1008px) {
	.Cable {
		.page0 {
			.title {
				margin-top: -420px;
			}
		}
	}
}
