.Earphone {
	position: absolute;
	width: 100%;
	height: 100%;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.color-background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		opacity: 1;
	}

	.fadein {
		animation: fadeIn 0.2s ease-out forwards;
	}

	.page {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
	}

	.page3 {
		.align {
			position: absolute;
			top: 50%;
			left: 50%;

			.product {
				position: absolute;
				top: 80px;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/earphone/product.png';
			}

			.footer {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: center;
				margin-top: 430px;
				margin-left: -280px;
				width: 560px;
				height: 60px;

				& > div {
					box-sizing: border-box;
					width: 50%;
					height: 100%;
				}

				.headline {
					border-right: solid 1px #000;
					text-align: center;
					letter-spacing: 5px;
					font-size: 36px;
					line-height: 60px;
					transform: scale(1, 1.1);
				}

				.logo {
					position: relative;
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: 0 - image-height(@img) * @scale * 0.5 + 5px;
						margin-left: 0 - image-width(@img) * @scale * 0.5;
						width: image-width(@img) * @scale;
						height: image-height(@img) * @scale;
						background-image: url(@img);
						background-size: 100%;
						content: '';

						@scale: 2.5;
						@img: './img/logo.svg';
					}
				}
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	.page2 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.white-color {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/earphone/bg2.jpg';

				@keyframes air {
					0% {
						background-position-y: 0%;
					}
					100% {
						background-position-y: 100%;
					}
				}

				.air {
					position: absolute;
					@img: './img/earphone/air.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img) * (1 / 3);
					left: (2400px - 1560px) * 0.5;

					animation: tail 2s steps(2) infinite;
				}
			}
		}
	}

	.page1 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transform: scale(0.82);

				@img: './img/earphone/bg1.jpg';

				@keyframes led {
					0% {
						opacity: 0;
					}
					20% {
						opacity: 1;
					}
					80% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}

				.led {
					position: absolute;
					@img: './img/earphone/LED.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					top: 7.8%;
					left: 30%;

					animation: led 2s ease-in-out infinite;
				}
			}
		}
	}

	.page0 {
		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #333;
			white-space: nowrap;
			font-size: 62px;
			transform: scale(1, 1.1);
			margin-top: -450px;
			margin-left: -290px;

			sub {
				position: absolute;
				margin: 0 -10px;
				font-size: normal !important;
				padding-top: 28px;
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/earphone/bg0.jpg';

				& > div {
					position: absolute;
				}

				@keyframes tail {
					0% {
						background-position-y: 0%;
					}
					100% {
						background-position-y: 100%;
					}
				}

				.tail {
					top: 67%;
					left: 76.7%;
					width: image-width(@img);
					height: image-height(@img) * (1 / 4);
					background-image: url(@img);
					opacity: 1;

					animation: tail 3s steps(3) infinite;

					@img: './img/earphone/tail.png';
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.Earphone {
		.page0 {
			.title {
				font-size: 36px;
				margin-top: -120px;
				margin-left: -530px;
			}
		}
	}
}
