.Evcharger {
	.page3 {
		.product {
			position: absolute;
			top: 100px;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5 + 113px;
			width: image-width(@img) * 0.9;
			height: image-height(@img) * 0.9;
			background-size: 100%;
			background-image: url(@img);

			@img: './img/evcharger/product.png';
		}
	}

	.page2 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/evcharger/bg2.jpg';

			.cloud {
				position: absolute;
				top: -6%;
				left: 0%;
				width: 100%;
				height: 100%;
				background-image: url(@img);
				background-position-x: 0px;
				background-position-y: top;
				background-size: 50%;
				background-repeat: repeat-x;

				@img: './img/evcharger/cloud0.png';
			}
		}
	}

	.page1 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/evcharger/bg1.jpg';

			.trash0 {
				position: absolute;
				top: 54%;
				left: 0%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/evcharger/trash0.png';
			}

			.trash1 {
				position: absolute;
				top: 47%;
				left: 55%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/evcharger/trash1.png';
			}

			.trash2 {
				position: absolute;
				top: 62%;
				left: 63%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/evcharger/trash2.png';
				mix-blend-mode: multiply;
			}
		}
	}

	.page0 {
		.title {
			margin-top: -450px;
			margin-left: -290px;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/evcharger/bg0.jpg';

				& > div {
					position: absolute;
				}

				.cloud {
					top: 0%;
					left: 0%;
					width: image-width(@img);
					height: image-height(@img);
					background-image: url(@img);
					background-position-x: 0px;
					opacity: 1;

					@img: './img/evcharger/cloud0.png';
				}
			}
		}
	}
}

@media only screen and (min-width: 751px) {
	.Evcharger {
		.page0 {
			.title {
				margin-top: -250px;
				margin-left: -340px;
			}
		}

		.page3 {
			.align {
				.product {
					top: 20px;
					left: 250px;
					background-image: url(@img);
					background-size: 100%;
					transform: scale(0.9);

					@img: './img/evcharger/product@2x.png';
				}
			}
		}
	}
}
