@import url('../Setting/config.less');

.Label {
	position: absolute;
	width: auto;
	font-size: @storyLabelFontSize;
	white-space: nowrap;
	background-color: #fff;
	padding: 0px 5px 2px 5px;
	letter-spacing: 1px;
	color: #444;
	transform: scale(1, 1.1);
}
