.Mobile {
	position: absolute;
	width: 100%;
	height: 100%;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.color-background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		opacity: 1;
	}

	.fadein {
		animation: fadeIn 0.2s ease-out forwards;
	}

	.page {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
	}

	.page3 {
		.align {
			position: absolute;
			top: 50%;
			left: 50%;

			.product {
				position: absolute;
				top: 80px;
				margin-top: 0 - image-height(@img) * 0.5 + 20px;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/mobile/product.png';
			}

			.footer {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: center;
				margin-top: 430px;
				margin-left: -280px;
				width: 560px;
				height: 60px;

				& > div {
					box-sizing: border-box;
					width: 50%;
					height: 100%;
				}

				.headline {
					border-right: solid 1px #000;
					text-align: center;
					letter-spacing: 5px;
					font-size: 36px;
					line-height: 60px;
					transform: scale(1, 1.1);
				}

				.logo {
					position: relative;
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: 0 - image-height(@img) * @scale * 0.5 + 5px;
						margin-left: 0 - image-width(@img) * @scale * 0.5;
						width: image-width(@img) * @scale;
						height: image-height(@img) * @scale;
						background-image: url(@img);
						background-size: 100%;
						content: '';

						@scale: 2.5;
						@img: './img/logo.svg';
					}
				}
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	.page2 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transform: scale(0.82);

				@img: './img/mobile/bg2.jpg';

				@keyframes hightSpeed {
					0% {
						opacity: 0;
					}

					45% {
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					51% {
						opacity: 0;
					}

					60% {
						opacity: 0;
					}
					65% {
						opacity: 1;
					}
					70% {
						opacity: 0;
					}

					95% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}

				.speed {
					position: absolute;
					@img: './img/mobile/speed.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					top: 5.4%;
					left: 14.2%;

					animation: hightSpeed 4s linear infinite;
				}
			}
		}
	}

	.page1 {
		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transform: scale(0.82);

				@img: './img/mobile/bg1.jpg';

				@keyframes rain {
					0% {
						background-position-y: 0px;
					}
					100% {
						background-position-y: 5000px;
					}
				}

				.rain {
					position: absolute;
					@img: './img/mobile/rain.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);

					right: 2%;
					top: 0.4%;

					animation: rain 2s steps(5) infinite;
				}
			}
		}
	}

	.page0 {
		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #333;
			white-space: nowrap;
			font-size: 62px;
			transform: scale(1, 1.1);
			margin-top: -450px;
			margin-left: -290px;

			sub {
				position: absolute;
				margin: 0 -10px;
				font-size: normal !important;
				padding-top: 28px;
			}
		}

		.labels {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;

			.img {
				position: absolute;
				margin-top: 0 - image-height(@img) * 0.5;
				margin-left: 0 - image-width(@img) * 0.5;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/mobile/bg0.jpg';

				@keyframes tears {
					0% {
						opacity: 0;
						transform: translateY(-30px);
					}
					60% {
						opacity: 1;
						transform: translateY(0px);
					}
					100% {
						opacity: 0;
						transform: translateY(10px);
					}
				}

				.tears {
					position: absolute;
					@img: './img/mobile/tears.png';
					background-image: url(@img);
					width: image-width(@img);
					height: image-height(@img);
					left: 17%;
					top: 54.8%;
					opacity: 0;

					animation: tears 3s ease-out infinite;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.Mobile {
		.page0 {
			.title {
				font-size: 36px;
				margin-top: -130px;
				margin-left: -280px;
				sub {
					padding-top: 17px;
					margin: 0 -5px;
				}
			}
		}
	}
}
