.Mobile {
	.page3 {
		.product {
			position: absolute;
			top: 80px;
			margin-top: 0 - image-height(@img) * 0.5 - 15px;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/mobile/product.png';
		}
	}

	.page2 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);
			transform: scale(0.82);

			@img: './img/mobile/bg2.jpg';

			@keyframes hightSpeed {
				0% {
					opacity: 0;
				}

				45% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				51% {
					opacity: 0;
				}

				60% {
					opacity: 0;
				}
				65% {
					opacity: 1;
				}
				70% {
					opacity: 0;
				}

				95% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			.speed {
				position: absolute;
				top: 5.4%;
				left: 14.2%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				animation: hightSpeed 4s linear infinite;

				@img: './img/mobile/speed.png';
			}
		}
	}

	.page1 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);
			transform: scale(0.82);

			@img: './img/mobile/bg1.jpg';

			@keyframes rain {
				0% {
					background-position-y: 0px;
				}
				100% {
					background-position-y: 5000px;
				}
			}

			.rain {
				position: absolute;
				top: 0.4%;
				right: 2%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				animation: rain 2s steps(5) infinite;

				@img: './img/mobile/rain.png';
			}
		}
	}

	.page0 {
		.title {
			margin-top: -450px;
			margin-left: -290px;
		}

		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/mobile/bg0.jpg';

			@keyframes tears {
				0% {
					opacity: 0;
					transform: translateY(-30px);
				}
				60% {
					opacity: 1;
					transform: translateY(0px);
				}
				100% {
					opacity: 0;
					transform: translateY(10px);
				}
			}

			.tears {
				position: absolute;
				top: 54.8%;
				left: 17%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				opacity: 0;
				animation: tears 3s ease-out infinite;

				@img: './img/mobile/tears.png';
			}
		}
	}
}

@media only screen and (min-width: 751px) {
	.Mobile {
		.page0 {
			.title {
				margin-top: -130px;
				margin-left: -280px;
			}
		}

		.page3 {
			.align {
				.product {
					top: 0px;
					left: 300px;
					background-image: url(@img);
					background-size: 100%;
					transform: scale(0.8);

					@img: './img/mobile/product@2x.png';
				}
			}
		}
	}
}

@media only screen and (max-width: 750px) and (max-height: 1008px) {
	.Mobile {
		.page0 {
			.title {
				margin-top: -420px;
			}
		}
	}
}
