.Ricecooker {
	.page3 {
		.product {
			position: absolute;
			top: 80px;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/ricecooker/product.png';
		}
	}

	.page2 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);
			transform: scale(0.82);

			@img: './img/ricecooker/bg2.jpg';

			@keyframes smoking {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}

			.smoke-0 {
				position: absolute;
				top: 13%;
				left: 4%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transition-delay: 0s;
				animation: smoking 3s ease-out infinite;

				@img: './img/ricecooker/smoke2.png';
			}

			.smoke-1 {
				position: absolute;
				top: 10%;
				left: 22%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transition-delay: 1.5s;
				animation: smoking 3s ease-out infinite;

				@img: './img/ricecooker/smoke3.png';
			}
		}
	}

	.page1 {
		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);
			transform: scale(0.82);

			@img: './img/ricecooker/bg1.jpg';

			@keyframes smoking {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}

			.smoke-0 {
				position: absolute;
				top: 22%;
				left: 17%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transition-delay: 1.5s;
				animation: smoking 5s ease-out infinite;

				@img: './img/ricecooker/smoke0.png';
			}

			.smoke-1 {
				position: absolute;
				top: 29%;
				left: 9%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				transition-delay: 0s;
				animation: smoking 3s ease-out infinite;

				@img: './img/ricecooker/smoke1.png';
			}
		}
	}

	.page0 {
		.title {
			margin-top: -450px;
			margin-left: -290px;
		}

		.img {
			position: absolute;
			margin-top: 0 - image-height(@img) * 0.5;
			margin-left: 0 - image-width(@img) * 0.5;
			width: image-width(@img);
			height: image-height(@img);
			background-image: url(@img);

			@img: './img/ricecooker/bg0.jpg';
			mask-image: url('./img/ricecooker/mask.png');
			mask-size: cover;

			& > div {
				position: absolute;
			}

			.eyes {
				top: 32.4%;
				left: 40.2%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				opacity: 0;

				@img: './img/ricecooker/eyes.png';
			}

			.sweat {
				top: 31.2%;
				left: 47.1%;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);
				opacity: 0;

				@img: './img/ricecooker/sweat.png';
			}
		}
	}
}

@media only screen and (min-width: 751px) {
	.Ricecooker {
		.page0 {
			.title {
				margin-top: -250px;
				margin-left: -460px;
			}
		}

		.page3 {
			.align {
				.product {
					top: 40px;
					left: 300px;
					background-image: url(@img);
					background-size: 100%;
					transform: scale(0.85);

					@img: './img/ricecooker/product@2x.png';
				}
			}
		}
	}
}
