@import url('../Setting/config.less');

.Intro {
	position: absolute;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(153, 153, 153, 1);

	.content {
		margin-left: 2.5px;
		width: 100%;
		letter-spacing: 5px;

		& > div {
			float: left;
			width: 100%;
			height: 85px;
			color: #fff;
			text-align: center;
			font-size: 35px;
		}
	}

	& > button {
		margin: 120px 0 0;
	}

	.cta {
		position: absolute;
		top: 50%;
		left: 0;
		display: none;
		box-sizing: border-box;
		margin-top: -93px;
		width: 100%;
		width: 100%;
		height: 100px;
		color: #fff;
		text-align: center;
		letter-spacing: 5px;
		font-size: 50px;
		line-height: 100px;
		transform: scale(1, 1.1);
		text-indent: 2.5px;
	}

	.arrow {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		width: 100%;
		height: image-height(@img);

		@img: './img/arrow.svg';

		&::after {
			position: absolute;
			width: 45%;
			height: 100%;
			background-image: url(@img);
			background-position: center;
			background-repeat: no-repeat;
			content: '';
			transform: scale(-0.6, 0.6);
			margin-left: -5%;
			animation: arrowLeft 2s ease-in-out infinite;
		}

		&::before {
			position: absolute;
			width: 45%;
			height: 100%;
			background-image: url(@img);
			background-position: center;
			background-repeat: no-repeat;
			content: '';
			transform: scale(0.6, 0.6);
			animation: arrowRight 2s ease-in-out infinite;
			margin-right: -5%;
		}
	}
}

@keyframes arrowLeft {
	0% {
		left: 20px;
	}
	50% {
		left: -20px;
	}
	100% {
		left: 20px;
	}
}

@keyframes arrowRight {
	0% {
		right: 20px;
	}
	50% {
		right: -20px;
	}
	100% {
		right: 20px;
	}
}
