@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
@import url('./config.less');

body {
	margin: 0;
	background-color: @bgColor;
	font-weight: lighter;
	font-family: 'Noto Serif TC', serif;

	text-size-adjust: none;
	overscroll-behavior: none;

	button {
		padding: 0;
		outline: inherit;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
		cursor: pointer;

		-webkit-tap-highlight-color: transparent;
	}
}

.lesca-oc {
	background-color: #999;
}

.lesca-loading .background {
	background-color: rgba(151, 151, 151, 0.9);
}

.lesca-loading .ico > div {
	background-color: #fff;
}
