.Background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('./img/bg-material.png');
	background-position: calc(~'50% + 20px') calc(~'50% - 50px');

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.glow2 {
		position: absolute;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-color: rgba(0, 0, 0, 0);
		background-image: url(@img);
		transform: rotate();
		left: -600px * @scale;
		background-size: 100%;
		top: 50%;
		margin-top: 0 - image-height(@img) * 0.5 * @scale;
		transform-origin: 337px 283px;

		@img: './img/light-glow2.png';
		@scale: 0.7;
	}

	.glow3 {
		position: absolute;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-color: rgba(0, 0, 0, 0);
		background-image: url(@img);
		transform: rotate();
		left: -300px * @scale;
		background-size: 100%;
		top: 50%;
		margin-top: 0 - image-height(@img) * 0.5 * @scale;
		transform-origin: 330px 250px;

		mix-blend-mode: color-burn;

		@img: './img/light-glow.png';
		@scale: 1;

		display: none;
	}

	.glow {
		position: absolute;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-color: rgba(0, 0, 0, 0);
		background-image: url(@img);
		transform: rotate();
		left: -400px * @scale;
		background-size: 100%;
		top: 50%;
		margin-top: 0 - image-height(@img) * 0.5 * @scale;
		transform-origin: 330px 250px;

		@img: './img/light-glow.png';
		@scale: 1;
	}

	.darken {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
		animation: opacity008 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	}
}

@keyframes opacity008 {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}
