.Logo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	@keyframes opacity01 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.description {
		position: absolute;
		top: 37%;
		margin: 50px 0;
		width: 100%;
		color: #fff;
		text-align: center;
		letter-spacing: 10px;
		font-size: 50px;
		opacity: 0;
		animation: opacity01 0.5s ease-out 1s forwards;
	}

	.content {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;

		@scale: 1.2;

		& > div {
			margin: 20px 0;

			mask-size: 100%;
		}

		.logo {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-color: #000;

			mask-image: url(@img);
			@img: './img/logo.svg';
		}

		.label {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-color: #000;

			@img: './img/logo-label.svg';
			mask-image: url(@img);
		}
	}
}

@media only screen and (min-width: 751px) {
	.Logo {
		.do-not-push {
			line-height: 33px;
		}
		.description {
			transform: scale(0.7);
		}
		.content {
			transform: scale(0.7);
		}
	}
}
