.TayaLogo {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: 0 - image-width(@img) * 0.5;
	width: image-width(@img);
	height: image-height(@img);
	opacity: 0;
	cursor: pointer;

	@img: './img/taya-logo.svg';

	.mark {
		position: absolute;
		left: 0;
		width: image-width(@img) * 0.57;
		height: 100%;
		background-image: url(@img);
		pointer-events: none;
	}

	.text {
		position: absolute;
		right: 0;
		width: image-width(@img) * (1 - 0.57);
		height: 100%;
		background-color: #000;
		pointer-events: none;

		mask-image: url(@img);
		mask-position: right top;
	}
}

@media only screen and (min-width: 751px) {
	.TayaLogo {
		top: 40px;
		left: 0%;
		margin-left: 40px;
		transform: scale(0.7);
		transform-origin: left top;
	}
}
