@import url('./../Setting/config.less');

.CommingSoon {
	position: absolute;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;

	.footer {
		position: absolute;
		bottom: 80px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: 30%;

		.location {
			color: #fff;
			text-align: center;
			font-size: 26px;
			line-height: 48px;

			& > div:nth-child(1) {
				letter-spacing: 2px;
				text-indent: -1px;
			}

			& > div:nth-child(2) {
				font-weight: normal;
				font-size: 27px;
				font-family: 'Ogilvy Serif', 'Myriad Pro', sans-serif;
			}
		}

		.date {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;
			margin: 40px 0;
			width: 100%;
			color: #fff;

			& > div {
				margin: 0 5px;
				font-weight: lighter;
				font-size: 40px;
				font-family: 'Ogilvy Serif', 'Esteban', serif;

				& > span {
					padding: 0 5px;
					font-size: 20px;
					font-family: 'Ogilvy Serif', 'Esteban', serif;
				}
			}

			& > div:nth-child(2) {
				margin: 20px 20px 0;
				width: 30%;
				height: 1px;
				background-color: #fff;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.CommingSoon {
		.footer {
			transform: scale(0.7);
		}
	}
}
